#!/bin/sh
#
# /etc/init.d/redis
# Subsystem file for "redis" server
#
# chkconfig: 2345 95 05
# description: redis server daemon
#
# processname: redis
# config:      <%= @install_dir %>/redis.conf
# config:      /etc/sysconfig/redis
# pidfile:     /var/run/redis.pid

# source function library
. /etc/rc.d/init.d/functions

# pull in sysconfig settings
[ -f /etc/sysconfig/redis ] && . /etc/sysconfig/redis

RETVAL=0
prog="redis"

REDIS_CONF_FILE="<%= @install_dir %>/redis.conf"
PIDFILE="/var/run/redis.pid"
redis="<%= @install_dir %>/src/redis-server"

start() {
  [ -x $redis ] || exit 5
  [ -f $REDIS_CONF_FILE ] || exit 6
	echo -n $"Starting $prog:"
  daemon $redis $REDIS_CONF_FILE &
	RETVAL=$?
	[ "$RETVAL" = 0 ] && touch /var/lock/subsys/$prog
	echo
}

stop() {
	echo -n $"Stopping $prog:"
	killproc $prog -TERM
	RETVAL=$?
	[ "$RETVAL" = 0 ] && rm -f /var/lock/subsys/$prog
	echo
}

reload() {
	echo -n $"Reloading $prog:"
	killproc $prog -HUP
	RETVAL=$?
	echo
}

case "$1" in
	start)
		start
		;;
	stop)
		stop
		;;
	restart)
		stop
		start
		;;
	reload)
		reload
		;;
	condrestart)
		if [ -f /var/lock/subsys/$prog ] ; then
			stop
			# avoid race
			sleep 3
			start
		fi
		;;
	status)
		status $prog
		RETVAL=$?
		;;
	*)
		echo $"Usage: $0 {start|stop|restart|reload|condrestart|status}"
		RETVAL=1
esac
exit $RETVAL
