export KAFKA_HOME=<%= @install_dir -%>; PATH=${PATH}:$KAFKA_HOME/bin

alias lt="<%= @install_dir -%>/bin/kafka-topics.sh --list --zookeeper <%= @zookeeper_connect -%>"
alias dt="<%= @install_dir -%>/bin/kafka-topics.sh --describe --zookeeper <%= @zookeeper_connect -%> --topic $1"
alias kcp="<%= @install_dir -%>/bin/kafka-console-producer.sh --broker-list localhost:9092 --topic $1"
alias kcc="<%= @install_dir -%>/bin/kafka-console-consumer.sh --zookeeper <%= @zookeeper_connect -%> --from-beginning --topic $1"
