<%- if @version == '4.1.11' -%>
# Kibana is served by a back end server. This controls which port to use.
port: <%= @port %>

# The host to bind the server to.
host: "<%= @host %>"

# The Elasticsearch instance to use for all your queries.
elasticsearch_url: "<%= @elasticsearch_url %>"

# preserve_elasticsearch_host true will send the hostname specified in `elasticsearch`. If you set it to false,
# then the host you use to connect to *this* Kibana instance will be sent.
elasticsearch_preserve_host: <%= @elasticsearch_preserve_host %>

# Kibana uses an index in Elasticsearch to store saved searches, visualizations
# and dashboards. It will create a new index if it doesn't already exist.
kibana_index: "<%= @kibana_index %>"

# If your Elasticsearch is protected with basic auth, this is the user credentials
# used by the Kibana server to perform maintence on the kibana_index at statup. Your Kibana
# users will still need to authenticate with Elasticsearch (which is proxied thorugh
# the Kibana server)
# kibana_elasticsearch_username: <%= @kibana_elasticsearch_username %>
# kibana_elasticsearch_password: <%= @kibana_elasticsearch_password %>

# If your Elasticsearch requires client certificate and key
# kibana_elasticsearch_client_crt: <%= @kibana_elasticsearch_client_crt %>
# kibana_elasticsearch_client_key: <%= @kibana_elasticsearch_client_key %>

# If you need to provide a CA certificate for your Elasticsarech instance, put
# the path of the pem file here.
# ca: <%= @ca %>

# The default application to load.
default_app_id: "<%= @default_app_id %>"

# Time in milliseconds to wait for elasticsearch to respond to pings, defaults to
# request_timeout setting
# ping_timeout: <%= @ping_timeout %>

# Time in milliseconds to wait for responses from the back end or elasticsearch.
# This must be > 0
request_timeout: <%= @request_timeout %>

# Time in milliseconds for Elasticsearch to wait for responses from shards.
# Set to 0 to disable.
shard_timeout: <%= @shard_timeout %>

# Time in milliseconds to wait for Elasticsearch at Kibana startup before retrying
# startup_timeout: <%= @startup_timeout %>

# Set to false to have a complete disregard for the validity of the SSL
# certificate.
verify_ssl: <%= @verify_ssl %>

# SSL for outgoing requests from the Kibana Server (PEM formatted)
# ssl_key_file: <%= @ssl_key_file %>
# ssl_cert_file: <%= @ssl_cert_file %>

# Set the path to where you would like the process id file to be created.
# pid_file: <%= @pid_file %>

# If you would like to send the log output to a file you can set the path below.
# This will also turn off the STDOUT log output.
# log_file: <%= @log_file %>

# A value to use as a XSRF token. This token is sent back to the server on each request
# and required if you want to execute requests from other clients (like curl).
# xsrf_token: "<%= @xsrf_token %>"

# Plugins that are included in the build, and no longer found in the plugins/ folder
bundled_plugin_ids:
 - plugins/dashboard/index
 - plugins/discover/index
 - plugins/doc/index
 - plugins/kibana/index
 - plugins/markdown_vis/index
 - plugins/metric_vis/index
 - plugins/settings/index
 - plugins/table_vis/index
 - plugins/vis_types/index
 - plugins/visualize/index

<%- elsif @version == '4.6.3'-%>
# Kibana is served by a back end server. This controls which port to use.
server.port: <%= @server_port %>

# The host to bind the server to.
# server.host: "<%= @server_host %>"

# If you are running kibana behind a proxy, and want to mount it at a path,
# specify that path here. The basePath can't end in a slash.
# server.basePath: "<%= @server_basePath %>"

# The maximum payload size in bytes on incoming server requests.
# server.maxPayloadBytes: <%= @server_maxPayloadBytes %>

# The Elasticsearch instance to use for all your queries.
# elasticsearch.url: "<%= @elasticsearch_url %>"

# preserve_elasticsearch_host true will send the hostname specified in `elasticsearch`. If you set it to false,
# then the host you use to connect to *this* Kibana instance will be sent.
# elasticsearch.preserveHost: <%= @elasticsearch_preserveHost %>

# Kibana uses an index in Elasticsearch to store saved searches, visualizations
# and dashboards. It will create a new index if it doesn't already exist.
# kibana.index: "<%= @kibana_index %>"

# The default application to load.
# kibana.defaultAppId: "<%= @kibana_defaultAppId %>"

# If your Elasticsearch is protected with basic auth, these are the user credentials
# used by the Kibana server to perform maintenance on the kibana_index at startup. Your Kibana
# users will still need to authenticate with Elasticsearch (which is proxied through
# the Kibana server)
# elasticsearch.username: "<%= @elasticsearch_username %>"
# elasticsearch.password: "<%= @elasticsearch_password %>"

# SSL for outgoing requests from the Kibana Server to the browser (PEM formatted)
# server.ssl.cert: <%= @server_ssl_cert %>
# server.ssl.key: <%= @server_ssl_key %>

# Optional setting to validate that your Elasticsearch backend uses the same key files (PEM formatted)
# elasticsearch.ssl.cert: <%= @elasticsearch_ssl_cert %>
# elasticsearch.ssl.key: <%= @elasticsearch_ssl_key %>

# If you need to provide a CA certificate for your Elasticsearch instance, put
# the path of the pem file here.
# elasticsearch.ssl.ca: <%= @elasticsearch_ssl_ca %>

# Set to false to have a complete disregard for the validity of the SSL
# certificate.
# elasticsearch.ssl.verify: <%= @elasticsearch_ssl_verify %>

# Time in milliseconds to wait for elasticsearch to respond to pings, defaults to
# request_timeout setting
# elasticsearch.pingTimeout: <%= @elasticsearch_pingTimeout %>

# Time in milliseconds to wait for responses from the back end or elasticsearch.
# This must be > 0
# elasticsearch.requestTimeout: <%= @elasticsearch_requestTimeout %>

# Header names and values that are sent to Elasticsearch. Any custom headers cannot be overwritten
# by client-side headers.
# elasticsearch.customHeaders: <%= @elasticsearch_customHeaders %>

# Time in milliseconds for Elasticsearch to wait for responses from shards.
# Set to 0 to disable.
# elasticsearch.shardTimeout: <%= @elasticsearch_shardTimeout %>

# Time in milliseconds to wait for Elasticsearch at Kibana startup before retrying
# elasticsearch.startupTimeout: <%= @elasticsearch_startupTimeout %>

# Set the path to where you would like the process id file to be created.
# pid.file: <%= @pid_file %>

# If you would like to send the log output to a file you can set the path below.
# logging.dest: <%= @logging_dest %>

# Set this to true to suppress all logging output.
# logging.silent: <%= @logging_silent %>

# Set this to true to suppress all logging output except for error messages.
# logging.quiet: <%= @logging_quiet %>

# Set this to true to log all events, including system usage information and all requests.
# logging.verbose: <%= @logging_verbose %>

 <%- elsif @version == '5.1.1' -%>
# Kibana is served by a back end server. This setting specifies the port to use.
server.port: <%= @server_port %>

# Specifies the address to which the Kibana server will bind. IP addresses and host names are both valid values.
# The default is 'localhost', which usually means remote machines will not be able to connect.
# To allow connections from remote users, set this parameter to a non-loopback address.
#server.host: "<%= @server_host %>"

# Enables you to specify a path to mount Kibana at if you are running behind a proxy. This only affects
# the URLs generated by Kibana, your proxy is expected to remove the basePath value before forwarding requests
# to Kibana. This setting cannot end in a slash.
#server.basePath: "<%= @server_basePath %>"

# The maximum payload size in bytes for incoming server requests.
#server.maxPayloadBytes: <%= @server_maxPayloadBytes %>

# The Kibana server's name.  This is used for display purposes.
#server.name: "<%= @hostname %>"

# The URL of the Elasticsearch instance to use for all your queries.
elasticsearch.url: "<%= @elasticsearch_url %>"

# When this setting’s value is true Kibana uses the hostname specified in the server.host
# setting. When the value of this setting is false, Kibana uses the hostname of the host
# that connects to this Kibana instance.
#elasticsearch.preserveHost: <%= @elasticsearch_preserveHost %>

# Kibana uses an index in Elasticsearch to store saved searches, visualizations and
# dashboards. Kibana creates a new index if the index doesn’t already exist.
#kibana.index: "<%= @kibana_index %>"

# The default application to load.
#kibana.defaultAppId: "<%= @kibana_defaultAppId %>"

# If your Elasticsearch is protected with basic authentication, these settings provide
# the username and password that the Kibana server uses to perform maintenance on the Kibana
# index at startup. Your Kibana users still need to authenticate with Elasticsearch, which
# is proxied through the Kibana server.
#elasticsearch.username: "<%= @elasticsearch_username %>"
#elasticsearch.password: "<%= @elasticsearch_password %>"

# Paths to the PEM-format SSL certificate and SSL key files, respectively. These
# files enable SSL for outgoing requests from the Kibana server to the browser.
#server.ssl.cert: <%= @server_ssl_cert %>
#server.ssl.key: <%= @server_ssl_key %>

# Optional settings that provide the paths to the PEM-format SSL certificate and key files.
# These files validate that your Elasticsearch backend uses the same key files.
#elasticsearch.ssl.cert: <%= @elasticsearch_ssl_cert %>
#elasticsearch.ssl.key: <%= @elasticsearch_ssl_key %>

# Optional setting that enables you to specify a path to the PEM file for the certificate
# authority for your Elasticsearch instance.
#elasticsearch.ssl.ca: <%= @elasticsearch_ssl_ca %>

# To disregard the validity of SSL certificates, change this setting’s value to false.
#elasticsearch.ssl.verify: <%= @elasticsearch_ssl_verify %>

# Time in milliseconds to wait for Elasticsearch to respond to pings. Defaults to the value of
# the elasticsearch.requestTimeout setting.
#elasticsearch.pingTimeout: <%= @elasticsearch_pingTimeout %>

# Time in milliseconds to wait for responses from the back end or Elasticsearch. This value
# must be a positive integer.
#elasticsearch.requestTimeout: <%= @elasticsearch_requestTimeout  %>

# List of Kibana client-side headers to send to Elasticsearch. To send *no* client-side
# headers, set this value to [] (an empty list).
#elasticsearch.requestHeadersWhitelist: [ <%= @elasticsearch_requestHeadersWhitelist %> ]

# Header names and values that are sent to Elasticsearch. Any custom headers cannot be overwritten
# by client-side headers, regardless of the elasticsearch.requestHeadersWhitelist configuration.
#elasticsearch.customHeaders: <%= @elasticsearch_customHeaders %>

# Time in milliseconds for Elasticsearch to wait for responses from shards. Set to 0 to disable.
#elasticsearch.shardTimeout: <%=@elasticsearch_shardTimeout %>

# Time in milliseconds to wait for Elasticsearch at Kibana startup before retrying.
#elasticsearch.startupTimeout: <%= @elasticsearch_startupTimeout %>

# Specifies the path where Kibana creates the process ID file.
#pid.file: <%= @pid_file %>

# Enables you specify a file where Kibana stores log output.
#logging.dest: <%= @logging_dest %>

# Set the value of this setting to true to suppress all logging output.
#logging.silent: <%= @logging_silent %>

# Set the value of this setting to true to suppress all logging output other than error messages.
#logging.quiet: <%= @logging_quiet %>

# Set the value of this setting to true to log all events, including system usage information
# and all requests.
#logging.verbose: <%= @logging_verbose %>

# Set the interval in milliseconds to sample system and process performance
# metrics. Minimum is 100ms. Defaults to 5000.
#ops.interval: <%= @ops_interval %>
 <%- end -%>
