<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://ha-cluster</value>
    </property>
    <property>
        <name>dfs.journalnode.edits.dir</name>
        <value><%= @install_dir %>/data/jn</value>
    </property>
    <property>
        <name>hadoop.tmp.dir</name>
        <value>/mnt/data/hadoop/tmp</value>
    </property>
</configuration>
