<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>/mnt/data/hadoop/namenode</value>
    </property>
    <property>
        <name>dfs.replication</name>
        <value>2</value>
    </property>
    <property>
        <name>dfs.blocksize</name>
        <value>67108864</value>
    </property>
    <property>
        <name>dfs.permissions</name>
        <value>false</value>
    </property>
    <property>
        <name>dfs.nameservices</name>
        <value>ha-cluster</value>
    </property>
    <property>
        <name>dfs.ha.namenodes.ha-cluster</name>
        <value>an1,an2</value>
    </property>
    <property>
        <name>dfs.namenode.rpc-address.ha-cluster.an1</name>
        <value>an1:9000</value>
    </property>
    <property>
        <name>dfs.namenode.rpc-address.ha-cluster.an2</name>
        <value>an2:9000</value>
    </property>
    <property>
        <name>dfs.namenode.http-address.ha-cluster.an1</name>
        <value>an1:50070</value>
    </property>
    <property>
        <name>dfs.namenode.http-address.ha-cluster.an2</name>
        <value>an2:50070</value>
    </property>
    <property>
        <name>dfs.namenode.shared.edits.dir</name>
        <value>qjournal://an1:8485;an2:8485;ad1:8485/ha-cluster</value>
    </property>
    <property>
        <name>dfs.client.failover.proxy.provider.ha-cluster</name>
        <value>org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider</value>
    </property>
    <property>
        <name>dfs.ha.automatic-failover.enabled</name>
        <value>true</value>
    </property>
    <property>
        <name>ha.zookeeper.quorum</name>
        <value>az1:2181,az2:2181,az3:2181</value>
    </property>
    <property>
        <name>dfs.ha.fencing.methods</name>
        <value>sshfence</value>
    </property>
    <property>
        <name>dfs.ha.fencing.ssh.private-key-files</name>
        <value>/home/hadoop/.ssh/id_rsa</value>
    </property>
<%- if @daemon == 'datanode'-%>
    <property>
        <name>dfs.datanode.data.dir</name>
        <value>/mnt/data/hadoop/datanode</value>
    </property>
<%- end -%>
</configuration>
