<%- if @service_name == 'nimbus' -%>
# Config for nimbus
storm.zookeeper.servers:
    - "az1"
    - "az2"
    - "az3"
storm.local.dir: "<%= @install_dir %>"
#
storm.messaging.netty.server_worker_threads: <%= @storm_messaging_netty_server_worker_threads %>
storm.messaging.netty.client_worker_threads: <%= @storm_messaging_netty_client_worker_threads %>
storm.messaging.netty.buffer_size: <%= @storm_messaging_netty_buffer_size %>
storm.messaging.netty.max_retries: <%= @storm_messaging_netty_max_retries %>
storm.messaging.netty.max_wait_ms: <%= @storm_messaging_netty_max_wait_ms %>
storm.messaging.netty.min_wait_ms: <%= @storm_messaging_netty_min_wait_ms %>
<%- else -%>
# Config for suppervisor and worker
storm.zookeeper.servers:
    - "az1"
    - "az2"
    - "az3"
storm.local.dir: "<%= @install_dir %>"
nimbus.host: "<%= @host_nimbus %>"
supervisor.slots.ports:
    - 6700
    - 6701
    - 6702
    - 6703
worker.childopts: "<%= @worker_childopts %>"
drpc.servers:
    - "<%= @host_nimbus%>"
#
storm.zookeeper.connection.timeout: <%= @storm_zookeeper_connection_timeout %>
storm.zookeeper.session.timeout: <%= @storm_zookeeper_session_timeout %>
storm.messaging.netty.server_worker_threads: <%= @storm_messaging_netty_server_worker_threads %>
storm.messaging.netty.client_worker_threads: <%= @storm_messaging_netty_client_worker_threads %>
storm.messaging.netty.buffer_size: <%= @storm_messaging_netty_buffer_size %>
storm.messaging.netty.max_retries: <%= @storm_messaging_netty_max_retries %>
storm.messaging.netty.max_wait_ms: <%= @storm_messaging_netty_max_wait_ms %>
storm.messaging.netty.min_wait_ms: <%= @storm_messaging_netty_min_wait_ms %>
<%- end -%>
