# The number of milliseconds of each tick
tickTime=<%= @tickTime %>
# The number of ticks that the initial
# synchronization phase can take
initLimit=<%= @initLimit %>
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=<%= @syncLimit %>
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just
# example sakes.
dataDir=<%= @dataDir %>
dataLogDir=<%= @dataLogDir %>
# the port at which the clients will connect
clientPort=<%= @clientPort %>
# the maximum number of client connections.
# increase this if you need to handle more clients
maxClientCnxns=<%= @maxClientCnxns %>
#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount=<%= @autopurge_snapRetainCount %>
# Purge task interval in hours
# Set to "0" to disable auto purge feature
autopurge.purgeInterval=<%= @autopurge_purgeInterval %>

server.1=<%= @prefix %>z1:2888:3888
server.2=<%= @prefix %>z2:2888:3888
server.3=<%= @prefix %>z3:2888:3888
